ENVIRONMENT=dev
DATABASE_USERNAME=username
DATABASE_PASSWORD=senhamuitoshowdebola
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE=nookio_core
ANALYTICS_SERVICE_URL=http://localhost:8081
PAYMENTS_SERVICE_URL=http://localhost:8082
BASE_ENDPOINT=/external/core
ANALYTICS_TRANSPORT=http
PAYMENTS_TRANSPORT=http
API_ID=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=senhadoredis
