ENVIRONMENT=dev
DATABASE_USERNAME=olhaousernamesupermaneiro
DATABASE_PASSWORD=senhamuitoboladona
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE=nookio_core
API_ID=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=senharedis
EUREKA_URI=http://localhost:8761/eureka/
STRIPE_SECRET_KEY=sk_test_123
AWS_REGION=us-east-1
