# Environment Variables for Nookio Payments Microservice
API_ID=3
PORT=8082

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Eureka Discovery Server
EUREKA_URI=http://localhost:8761/eureka/

# Stripe Configuration (Chave de Teste Developer da Stripe)
STRIPE_SECRET_KEY=sk_test_51MockStripeKeyForDevNookioProject00000000000000000000000000000000000000
